Task 1/Task_1B/satellite_image.tif
Task 2/Task_2B_files/task_2b_evaluator/input.exe
Task 2/Task_2C_files/task_2c_evaluator/input.exe
Task 3/Task_3A_files
Task 5/Task_5A_files/GG_Task5_2526/model_newdv2l.pth
Task 5/Task_5A_files/GG_Task5_2526/model_newdv2l_weights.pth
Task 5/Task_5B_files/GG_Task5_2526/model_newdv2l.pth
Task 5/Task_5B_files/GG_Task5_2526/model_newdv2l_weights.pth
Task 5/Task_5B_files/model_newdv2m.pth
Task 6/GG_Task6_2526(Bonus)/model_newdv2l.pth
Task 6/GG_Task6_2526(Bonus)/model_newdv2l_weights.pth
Task 6/GG_Task6_2526(Original)/model_newdv2l.pth
Task 6/GG_Task6_2526(Original)/model_newdv2l_weights.pth